*{ 
    margin: 0px;
    padding: 0px;
}

body{ 
    background-color: lightgray;
    font-family: cursive, Arial, Helvetica, sans-serif;
    }

#container{ 
    width: 1200px;
    margin: 0px auto;
    border: 1px solid black;
}

header{ 
    background-color: rgb(131, 204, 71);
    height: 100px;
    width: 100%;
    margin: opx;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 2px dashed black;
    }

    nav{
        background: lightskyblue;
        height: 50px;
        border-bottom: 1px solid black;
    }
    nav ul li{
        float: right;
        list-style-type: none;
        margin: 10px;
        line-height: 30px;
    }

    .clearfix{
        clear: both;
    }    

    #content{
        float:left;
        width: calc(80% - 80px) ;
        min-height: 500px;
        background: lightgrey;
        padding: 40px;
    }    
 

    .aside-red{
        float:left;
        width: calc(20% - 20px) ;
        min-height: 500px;
        background: rgb(21, 163, 161);
        padding: 10px;
    }    

    footer{
        background: chocolate;
        color: darkblue;
        text-align: center;
        line-height: 50px;
        height: 50px;
    }    

    .article{
        color: black;
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }    

    .article: first-child{
        border-bottom: 1px solid white;
        padding-top: 10px;
    }

    .article h2{
        font-size: 25px;
    }
/* Permite crear el efecto a las cajas donde agregamos las imagenes publicadas */
       .box {
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 1rem;
        position: relative;
        width: 200px;
        height: 200px;
        background-color: white;
        border: 1px solid rgba(59,58,58,0.46);
        border-radius: 20px;
        box-shadow: -10px 5px 10px;
        top: 0;
        transition: top ease 0.5s;
        margin: 1em;
        padding: 1em;
        }
    
    .box:hover {
        top: -30px;
    }
/* este buton es para crear el menu tipo hamburguesa y esta creado con 
una animacion que dibuja como un aequis */
    .menu-hamburguesa{
        display: flex;
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        border: none;
        background: transparent;
        gap: .50rem;
        margin-left: 10px;
        margin-top: 10px;
    }

    .menu-hamburguesa > div {
        background: black;
        height: 5px;
        width: 80%;
        border-radius: 5px;
        transition: all .5s;
        transform-origin: left;
        
        
        
    }
   /* Crea el efecto al menu tipo hamburguesa que se forme como una equis
    */
    .menu-hamburguesa:hover div:first-child {
        transform: rotate(45deg);
        
    }

    .menu-hamburguesa:hover div:nth-child(2) {
        opacity: 0;
             
    }

    .menu-hamburguesa:hover div:last-child {
        transform: rotate(-45deg);
        
    }

   

    
/* esta parte sirve para achicar la pagina y el menu quede de forma unida tipo hamburguesa
el .search input es un ejemplo que estaba haciendo el video de youtube de ejemplo */
    @media screen and (max-width: 720px) {
    
        .search input {
            display: none;
    }